[submodule "Firmware/SilhouetteSync_FW/components/u8g2"]
	path = Firmware/SilhouetteSync_FW/components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "Firmware/SilhouetteSync_FW/components/u8g2-hal-esp-idf-cpp"]
	path = Firmware/SilhouetteSync_FW/components/u8g2-hal-esp-idf-cpp
	url = https://github.com/myles-parfeniuk/u8g2-hal-esp-idf-cpp.git
[submodule "Firmware/SilhouetteSync_FW/components/data_control"]
	path = Firmware/SilhouetteSync_FW/components/data_control
	url = https://github.com/myles-parfeniuk/data_control.git
[submodule "Firmware/SilhouetteSync_FW/components/esp32_BNO08x"]
	path = Firmware/SilhouetteSync_FW/components/esp32_BNO08x
	url = https://github.com/myles-parfeniuk/esp32_BNO08x.git
[submodule "Firmware/SilhouetteSync_FW/components/button_driver"]
	path = Firmware/SilhouetteSync_FW/components/button_driver
	url = https://github.com/myles-parfeniuk/button_driver.git
